<h1>Python Chess</h1>

<style>
    /*https://www.w3schools.com/cssref/pr_background-color.asp*/
    /*https://www.w3schools.com/css/css_text.asp*/
    .white{
        background-color:white;
        color:black;
        height:100%;

    }

    .black{
        background-color:black;
        color:white;
        height:100%;
    }

    /*HTML colors
    https://www.w3schools.com/html/html_colors.asp
    */
    .check{
        background-color:orange;
        width:100%;
    }

    .checkmate{
        background-color:tomato;
        width:100%;
    }

    .safe{
        background-color:mediumseagreen;
        width:100%;
    }
</style>

<table style = "width:100%">
    <tr>
        <td>{{svg}}</td>
        <td>
            {%if turn=="white"%}
                <div class = "white"><h1>White's Move</h1></div>
            {%elif turn=="black"%}
                <div class = "black"><h1>Black's Move</h1></div>
            {% endif %}
        </td>
    </tr>
  </table>

  {% if status == "check" %}
  <div class = "check"><center><h1>check</h1></center></div>
  {%elif status in ['checkmate', 'stalemate']%}
  <div class = "checkmate"><center><h1>{{status}}</h1></center></div>
  {% else %}
  <div class = "safe"><center><h1>ongoing game</h1></center></div>

  {% endif %}
<form class="grid" action="/result" method="POST">

    {% if name %}
      <center>
        <h3 style="color: blue;" class="let_space">Hello {{name}}, How was your day!!</h3>
      </center> 

    {% endif %}
    
    {%if status not in ['checkmate', 'stalemate']%}
    <label for="name">Enter you name:</label>
    <input type="text" id="name" name="name">

    <center><input class="file_submit" type="Submit"></center>
    {% endif %}
  </form>