<h1>Python Chess</h1>

<style>
    /*https://www.w3schools.com/cssref/pr_background-color.asp*/
    /*https://www.w3schools.com/css/css_text.asp*/

    .center {
        /*Full height div: https://stackoverflow.com/questions/3215553/make-a-div-fill-an-entire-table-cell
        */
    /*center text in div:*/
    /*https://www.w3schools.com/css/css_align.asp
    */
        margin: auto;
        border-radius:40px;
        /*https://stackoverflow.com/questions/5703552/how-can-i-center-text-horizontally-and-vertically-inside-a-div-block
    */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .white{
        background-color:aqua;
        border: 3px solid dodgerblue;
        color:black;

    }

    .black{
        background-color:darkorchid;
        border: 3px solid darkmagenta;
        color:white;
    }

    /*HTML colors
    https://www.w3schools.com/html/html_colors.asp
    */
    .check{
        background-color:orange;
        border: 3px solid orangered;
        color:black;
    }

    .checkmate{
        background-color:crimson;
        border: 3px solid darkred;
        color:white;
    }

    .safe{
        background-color:mediumseagreen;
        border: 3px solid green;
        color:black;
    }

    .move{
        padding:30px;
        background-color:lightgrey;
        border: 3px solid grey;
        color:black;
    }

    /*
    input filed css
    https://www.w3schools.com/css/css_form.asp
    */
    input{
        font-size:50px;
        width:100%;
        border-radius:20px;
        border: 3px solid black;
        text-align: center;
    }
    /*input field palceholder css
    https://stackoverflow.com/questions/7381446/center-html-input-text-field-placeholder
    */
    ::placeholder {
        text-align: center; 
     }

     form {
        display: block;
        margin-top: 0em;
        margin-block-end: 0em !important;
    }
</style>

<center>{{svg}}</center>
<table style = "width:100%">
    <tr>
        <td>
            {%if turn=="white"%}
                <div class = "center white"><h1>White's Move</h1></div>
            {%elif turn=="black"%}
                <div class = "center black"><h1>Black's Move</h1></div>
            {% endif %}
        </td>
        <td>
            {% if status == "check" %}
            <div class = "center check"><center><h1>check</h1></center></div>
            {%elif status in ['checkmate', 'stalemate']%}
            <div class = "center checkmate"><center><h1>{{status}}</h1></center></div>
            {% else %}
            <div class = "center safe"><center><h1>ongoing game</h1></center></div>
            {% endif %}
        </td>
    </tr>
  </table>

  <div class = "center move">
<form class="grid" action="/" method="POST">
    
    {%if status not in ['checkmate', 'stalemate']%}
    <input type="text" id="name" name="name" placeholder = "Enter Your Move">

    <input class="file_submit" type="Submit">
    {% endif %}
  </form>
</div>